#left-container {
  flex: 1;
  min-width: 185px;
  height: auto;
  margin-top: 20px;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(243, 235, 235);
  border-right: 1px solid var(--box-shadow-color);
  transition: 0.7s;
  box-shadow: 1px 1px 3px 1px var(--box-shadow-color);
}

#project-list-container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

#project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#default-project-container {
  width: 85%;
  margin: 10px 1px 1px 1px;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
}

.project-list-item {
  width: 85%;
  margin: 1px;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
}

.project-list-item:hover, #default-project-container:hover {
  background-color: var(--border-color);
}

.project-text {
  font-size: 20px;
  width: auto;
  font-weight: bold;
  overflow-wrap: break-word;
}

.project-amount {
  border-radius: 50px;
  background-color: var(--blue-color);
  color: white;
  width: 23px;
  height: 23px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.project-amount:hover {
  color: var(--blue-color);
  background-color: white;
}

.buttons-container {
  border-top: 1px solid var(--border-color);
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
}

@media (min-width: 360px) {
  .buttons-container {
    flex-direction: row;
  }
}

@media (min-width: 500px) {
  #left-container {
    display: flex;
    height: auto;
    max-height: auto;
    margin-top: 0;
  }

  .project-text {
    width: 130px;
    font-size: 15px;
  }

  .buttons-container {
    display: none;
  }
}

@media (min-width: 900px) {
  .project-text {
    font-size: 20px;
    width: auto;
  }
}