#new-todo-bg {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#new-todo-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: white;
}

#new-todo-title-container {
  background-color: var(--blue-color);
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}

#new-todo-title {
  padding: 5px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

#form, #project-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

fieldset {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  cursor: pointer;
  height: 20px;
  width: 20px;
  color: white;
  border: none;
  margin-right: 10px;
  margin-bottom: 5px;
}

#title-input {
  width: 90%;
  height: 30px;
}

#description-textarea {
  width: 90%;
  height: 60px;
}

input, textarea {
  margin: 5px 10px 0 10px;
  font-family: 'Roboto';
  border: none;
  font-size: 15px;
}

#due-date {
  margin: 0;
  border: 1px solid var(--blue-color);
  padding: 5px;
  border-radius: 5px;
}

#priority-fieldset {
  width: 100px;
  margin-bottom: 50px;
  padding: 11px 11px 11px 12px;
  display: flex;
}

#project-title-input {
  width: 90%;
  height: 30px;
  margin: 5px 10px 50px 10px;
  font-family: 'Roboto';
  border: none;
  font-size: 15px;
}

label {
  margin: 10px 10px 10px 12px;
  font-size: 15px;
  font-weight: 400;
}

#priority-title {
  font-size: 15px;
  font-weight: 400;
  margin-right: 10px;
}

#low-priority, #high-priority, #low-priority-label, #high-priority-label {
  margin: 0 2px;
}

#low-priority-label {
  color: rgb(11, 147, 11);
  border: 2px solid rgb(11, 147, 11);
  transition: 0.7s;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 10px;
}

#low-priority-label:hover {
  color: white;
  background-color: rgb(11, 147, 11);
  cursor: pointer;
}

#high-priority-label {
  color: rgb(177, 28, 28);
  border: 2px solid rgb(177, 28, 28);
  transition: 0.7s;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 10px;
}

#high-priority-label:hover {
  color: white;
  background-color: rgb(177, 28, 28);
  cursor: pointer;
}

textarea {
  resize: none;
}

.priority-option {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

#submit-todo-button, #submit-project-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  color: var(--blue-color);
  background-color: white;
  border: 1px solid var(--blue-color);
  transition: 0.7s;
}

#submit-todo-button:hover, #submit-project-button:hover {
  background-color: var(--blue-color);
  color: white;
}

@media (min-width: 500px) {
  #new-todo-bg {
    opacity: 0.8;
  }

  #new-todo-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 25%;
    right: 25%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px var(--box-shadow-color);
  }

  #new-todo-title-container {
    background-color: var(--blue-color);
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--box-shadow-color);
  }
}