:root {
  --border-color: rgb(209, 206, 206);
  --blue-color: rgba(79,179,238,1);
  --box-shadow-color: rgb(161, 151, 151);
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format('ttf'), 
  url('./Roboto-Bold.ttf') format('ttf');
  font-weight: 400, 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Roboto';
  background-color: var(--border-color);
}

#nav-bar {
  position: fixed;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: var(--blue-color);
}

#container {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  box-shadow: 1px 1px 3px 1px var(--box-shadow-color);
}

#close-todo-item-button {
  cursor: pointer;
  height: 20px;
  width: 20px;
  color: white;
  background-color: var(--blue-color);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: 0.7s;
}

#close-todo-item-button:hover {
  background-color: white;
  color: var(--blue-color);
}

.item-title-container {
  display: flex;
  align-items: center;
}

.item-due-date {
  font-size: 11px;
  color: var(--border-color);
}

#new-todo-item-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

#new-todo-item-title-container {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 30px;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#new-todo-item-title {
  padding: 5px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

#new-todo-item-due-date {
  font-size: 15px;
  margin: 5px 10px;
  padding: 5px;
}

#new-todo-item-description {
  margin: 10px 10px 0 10px;
  min-height: 50px;
  font-size: 15px;
  padding: 0 5px;
}

#new-todo-item-priority {
  margin: 0 10px;
  font-size: 15px;
  padding: 0 5px;
}