:root {
  --border-color: rgb(209, 206, 206);
  --blue-color: rgba(79,179,238,1);
  --box-shadow-color: rgb(161, 151, 151);
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format('ttf'), 
  url('./Roboto-Bold.ttf') format('ttf');
  font-weight: 400, 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Roboto';
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(97, 207, 97, 1) 0%, rgba(79,179,238,1) 100%);
}

#container {
  width: 100%;
  height: auto;
  display: flex;
}

 #left-container {
  width: 250px;
  min-width: 200px;
  height: 90vh;
  background-color: white;
  margin: 15px 0 15px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 3px 1px var(--box-shadow-color);
}

#todo-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-list-title {
  width: 100%;
  height: 20px;
  border-radius: 9px 9px 0 0;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 7px 0;
  font-weight: bold;
  background-color: var(--blue-color);
  border-bottom: 1px solid var(--box-shadow-color);
}

#todo-list {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list-item {
  width: 85%;
  margin: 1px;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
}

.todo-list-item:hover {
  background-color: var(--blue-color);
  color: white;
}

.todo-list-item-amount {
  border-radius: 50%;
  background-color: rgb(97, 207, 97);
  color: white;
  width: 23px;
  height: 23px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-todo-container {
  width: 100%;
  display: flex;
  justify-content: start;
}

#add-new-todo {
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  color: rgb(161, 157, 157);
  margin: 15px;
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px var(--box-shadow-color);
  transition: 0.7s;
}

#add-new-todo:hover {
  background-color: var(--blue-color);
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 15px;
  margin: 15px 0 15px 15px;
  width: 50%;
  min-width: 200px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 3px 1px var(--box-shadow-color);
}

#main-container-title {
  font-size: 19px;
  width: 100%;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--box-shadow-color);
}

#todos-container {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-todo-container {
  padding: 15px;
  margin: 15px 15px 15px 15px;
  width: 300px;
  min-width: 200px;
  height: auto;
  background-color: white;
  color: rgb(161, 157, 157);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 3px 1px var(--box-shadow-color);
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

#new-form-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0 5px;
  cursor: pointer;
  border: 1px solid var(--border-color);
}

#new-form-close-btn:hover {
  background-color: var(--blue-color);
  color: white;
}

input, textarea {
  margin-left: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 15px;
  padding: 3px 10px;
  font-weight: bold;
}

fieldset {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#priority-fieldset {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  height: 50px;
  width: 50%;
  padding: 10px 11px 0 11px;
  display: flex;
  align-items: center;
}

.priority-option {
  margin-top: 0;
}

label, legend {
  font-size: 12px;
}

textarea {
  resize: none;
  width: 150px;
  height: 130px;
}

select {
  margin-left: 10px;
  border-radius: 10px;
  padding: 3px 10px;
  border: 1px solid var(--border-color);
}

#submit-todo-button {
  margin-top: 50px;
  margin-left: 0;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: var(--blue-color);
  border: 1px solid gray;
  box-shadow: 1px 1px 3px 1px var(--box-shadow-color);
  transition: 0.7s;
}

#submit-todo-button:hover {
  background-color: white;
  color: var(--blue-color);
}

.todo-item {
  width: 90%;
  padding: 10px;
  color: gray;
  font-weight: bold;
  font-size: 14px;
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}

.todo-item:hover {
  background-color: var(--blue-color);
  color: white;
  border-radius: 10px;
}

.item-due-date {
  font-size: 11px;
  color: var(--border-color);
}

#new-todo-item-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

#new-todo-item-title {
  width: 100%;
  color: black;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;
  border-bottom: 1px solid var(--border-color);
}

#new-todo-item-due-date {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 12px;
}

@media (max-width: 770px) {
  #container {
    flex-wrap: wrap;
  }

  #main-container {
    margin-right: 15px;
  }
}